/SEM1/Python/__pycache__
.vscode/
Docs

*.exe
*.class
*.pdf
*.docx
*.ppt
*.pptx
*.png
*.mp3
*.ogg
*.zip

Chirag AIMIT ID.jpg

SEM2/CC/EvenOdd_RMI/*.png
/SEM2/CC/RMI_GUI/Largest_RMI_GUI/nbproject/private/
/SEM2/CC/RMI_GUI/Largest_RMI_GUI/build/
/SEM2/CC/RMI_GUI/SquareArea_RMI_GUI/nbproject/private/
/SEM2/CC/RMI_GUI/SquareArea_RMI_GUI/build/
/SEM2/CC/RMI_GUI/Reverse_RMI_GUI/nbproject/private/
/SEM2/CC/RMI_GUI/Reverse_RMI_GUI/build/
/SEM2/CC/RMI_GUI/Age_RMI_GUI/nbproject/private/
/SEM2/CC/RMI_GUI/Age_RMI_GUI/build/
